<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <link rel="stylesheet" href="/css/bootstrap.min.css" /> 
    
    <title>Blog NodeJS</title>
</head>
<body>
    {{>_navbar}}

    <div class="container mt-4">
        {{!-- Bloco para a variável 'error' direta, se usada --}}
        {{#if error}}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
        {{/if}}

        {{!-- Partial para mensagens flash (success_msg, error_msg, etc.) --}}
        {{>_msg}} 
        
        {{{body}}} 
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script> 
</body>
</html>